# 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [9]:
# Folder Path
path = r'C:\Users\jrper\OneDrive\Documents\Career Foundry Data Analytics Program\Achievement 6'

In [12]:
# Import CitiBike Trip Data for each month in 2020
df_Jan_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'January2020.csv'), index_col = False)
df_Feb_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'February2020.csv'), index_col = False)
df_Mar_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'March2020.csv'), index_col = False)
df_Apr_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'April2020.csv'), index_col = False)
df_May_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'May2020.csv'), index_col = False)
df_Jun_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'June2020.csv'), index_col = False)
df_Jul_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'July2020.csv'), index_col = False)
df_Aug_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'August2020.csv'), index_col = False)
df_Sep_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'September2020.csv'), index_col = False)
df_Oct_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'October2020.csv'), index_col = False)
df_Nov_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'November2020.csv'), index_col = False)
df_Dec_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2020', 'December2020.csv'), index_col = False)

In [13]:
# Import CitiBike Trip Data for each month in 2021
df_Jan_2021 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2021', 'January2021.csv'), index_col = False)
df_Feb_2021 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2021', 'February2021.csv'), index_col = False)
df_Mar_2021 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2021', 'March2021.csv'), index_col = False)
df_Apr_2021 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'CitiBike_Trip_Data', '2021', 'April2021.csv'), index_col = False)

In [14]:
# Merge monthly trip data into a single dataframe
df_merged = pd.concat([df_Jan_2020, df_Feb_2020, df_Mar_2020, df_Apr_2020, df_May_2020, df_Jun_2020, df_Jul_2020, df_Aug_2020, df_Sep_2020, df_Oct_2020, df_Nov_2020, df_Dec_2020, df_Jan_2021, df_Feb_2021, df_Mar_2021, df_Apr_2021])

In [15]:
# Reset Index
df_merged = df_merged.reset_index(drop = True)

# 03. Consistency Checks for df_merged

## Explore Data

In [16]:
# View df_merged first 5 rows
df_merged.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [17]:
# View df_merged last 5 rows
df_merged.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
393307,1700,2021-04-30 23:55:22.9900,2021-05-01 00:23:43.6660,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,39772,Customer,1970,0
393308,1958,2021-04-30 23:55:50.6830,2021-05-01 00:28:28.7000,3677,Glenwood Ave,40.727551,-74.071061,3193,Lincoln Park,40.724605,-74.078406,32575,Customer,1970,0
393309,877,2021-04-30 23:57:33.1520,2021-05-01 00:12:11.0930,3272,Jersey & 3rd,40.723332,-74.045953,3202,Newport PATH,40.727224,-74.033759,42495,Customer,1970,0
393310,173,2021-04-30 23:59:38.4630,2021-05-01 00:02:31.8160,3276,Marin Light Rail,40.714584,-74.042817,3276,Marin Light Rail,40.714584,-74.042817,42470,Customer,1970,0
393311,174,2021-04-30 23:59:43.2470,2021-05-01 00:02:37.5830,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,39839,Customer,1970,0

In [18]:
# Column names for df_merged
df_merged.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [19]:
# Check df_merged size
df_merged.shape

(393312, 15)

In [20]:
# Check data types
df_merged.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

## Check for mixed-type data

In [21]:
# Check for mixed-type columns in df_merged
for col in df_merged.columns.tolist():
  weird = (df_merged[[col]].applymap(type) != df_merged[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_merged[weird]) > 0:
    print (col)

#### Observations: No columns with mixed-type data detected.

## Check for missing values

In [22]:
# Find missing values
df_merged.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

#### Observations: No missing values detected.

## Check for duplicates

In [23]:
# Find full duplicates for df_merged
df_dups = df_merged[df_merged.duplicated()]

In [24]:
# View duplicates subset
df_dups

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
273747,156,2020-10-01 00:02:40.2600,2020-10-01 00:05:17.0140,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,1
273748,143,2020-10-01 00:02:53.5020,2020-10-01 00:05:16.9650,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,1
273749,305,2020-10-01 00:04:31.3160,2020-10-01 00:09:36.3840,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,2
273750,1097,2020-10-01 00:05:18.3680,2020-10-01 00:23:36.1240,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,1
273751,277,2020-10-01 00:09:17.5990,2020-10-01 00:13:55.5150,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287196,270,2020-10-13 15:05:35.0860,2020-10-13 15:10:05.3430,3207,Oakland Ave,40.737604,-74.052478,3640,Journal Square,40.733670,-74.062500,44744,Subscriber,1963,2
287199,400,2020-10-13 15:09:03.4890,2020-10-13 15:15:43.9750,3209,Brunswick St,40.724176,-74.050656,3209,Brunswick St,40.724176,-74.050656,45345,Subscriber,1984,1
287202,206,2020-10-13 15:11:34.3500,2020-10-13 15:15:00.5030,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,47019,Subscriber,1993,1
287203,216,2020-10-13 15:11:49.1510,2020-10-13 15:15:25.6930,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,42191,Subscriber,1966,1
287204,418,2020-10-13 15:12:31.7920,2020-10-13 15:19:30.5280,3267,Morris Canal,40.712419,-74.038526,3186,Grove St PATH,40.719586,-74.043117,47255,Subscriber,1991,1

#### Observations: 13451 duplicates detected and will be dropped

In [26]:
# Create dataframe with duplicates removed
df_merged_no_dups = df_merged.drop_duplicates()

In [27]:
# Compare row and column numbers for dataframe with duplicates removed
df_merged_no_dups.shape

(379861, 15)

#### Observations: Output consistent after dropping duplicates.

## Descriptive Statistics

In [28]:
# Descriptive Statistics for df_merged_no_dups
df_merged_no_dups.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,3.798610e+05,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000
mean,1.554135e+03,3304.053222,40.722255,-74.046816,3302.678248,40.721792,-74.046022,40731.378309,1980.025870,0.981061
std,1.770860e+04,184.555125,0.007361,0.011912,190.013195,0.093728,0.170317,6162.534657,11.030737,0.682833
min,6.100000e+01,3184.000000,40.709651,-74.083639,82.000000,0.000000,-74.083639,14531.000000,1888.000000,0.000000
25%,3.220000e+02,3195.000000,40.716870,-74.051789,3195.000000,40.716870,-74.050656,42124.000000,1970.000000,1.000000
50%,6.000000e+02,3209.000000,40.721124,-74.043991,3209.000000,40.721124,-74.043845,42376.000000,1982.000000,1.000000
75%,1.372000e+03,3276.000000,40.727224,-74.038051,3276.000000,40.727224,-74.037683,44228.000000,1989.000000,1.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4282.000000,40.848282,0.000000,55298.000000,2004.000000,2.000000

#### Observations: The minimum year 1888 is an error.

In [29]:
# Check for birth year prior to 1920
df_merged_no_dups[df_merged_no_dups["birth year"]< 1920]

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
2667,141,2020-01-05 09:38:17.6380,2020-01-05 09:40:39.6170,3275,Columbus Drive,40.718355,-74.038914,3639,Harborside,40.719252,-74.034234,29640,Subscriber,1888,0
3193,74,2020-01-06 07:36:38.4470,2020-01-06 07:37:52.7620,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,29463,Subscriber,1888,0
6682,97,2020-01-09 17:45:17.0690,2020-01-09 17:46:54.3580,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29207,Subscriber,1888,0
7949,105,2020-01-10 19:20:29.7050,2020-01-10 19:22:14.8400,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29592,Subscriber,1888,0
11171,82,2020-01-14 07:32:59.8460,2020-01-14 07:34:22.4420,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26177,Subscriber,1888,0
12788,95,2020-01-15 17:47:12.3450,2020-01-15 17:48:48.1690,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29446,Subscriber,1888,0
13255,80,2020-01-16 07:34:13.8290,2020-01-16 07:35:34.4480,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,29548,Subscriber,1888,0
14074,78,2020-01-16 19:33:28.1540,2020-01-16 19:34:46.1840,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29262,Subscriber,1888,0
14904,103,2020-01-17 20:21:52.5510,2020-01-17 20:23:35.9350,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29587,Subscriber,1888,0
17155,89,2020-01-22 07:52:17.4500,2020-01-22 07:53:46.8910,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26257,Subscriber,1888,0
18147,102,2020-01-23 07:47:58.8340,2020-01-23 07:49:41.6230,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26171,Subscriber,1888,0
21789,100,2020-01-27 19:13:42.6940,2020-01-27 19:15:22.9310,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,26278,Subscriber,1888,0
22827,115,2020-01-28 19:19:42.9670,2020-01-28 19:21:38.5720,3187,Warren St,40.721124,-74.038051,3275,Columbus Drive,40.718355,-74.038914,29480,Subscriber,1888,0
23768,214,2020-01-29 18:34:59.0040,2020-01-29 18:38:33.8310,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29197,Subscriber,1888,0
29058,178,2020-02-04 18:54:41.5610,2020-02-04 18:57:39.7070,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29496,Subscriber,1888,0
29714,976,2020-02-05 12:48:53.9160,2020-02-05 13:05:09.9810,3638,Washington St,40.724294,-74.035483,3638,Washington St,40.724294,-74.035483,42220,Subscriber,1900,1
34527,226,2020-02-12 07:47:17.1710,2020-02-12 07:51:03.9410,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,42185,Subscriber,1888,0
42094,378,2020-02-21 13:39:46.2190,2020-02-21 13:46:04.6170,3186,Grove St PATH,40.719586,-74.043117,3638,Washington St,40.724294,-74.035483,42593,Subscriber,1900,1
186364,290,2020-08-08 12:01:10.3200,2020-08-08 12:06:01.2760,3275,Columbus Drive,40.718355,-74.038914,3202,Newport PATH,40.727224,-74.033759,28012,Subscriber,1888,0
196862,453,2020-08-15 13:15:16.1440,2020-08-15 13:22:49.3420,3202,Newport PATH,40.727224,-74.033759,3185,City Hall,40.717732,-74.043845,41677,Subscriber,1888,0

#### Observations: Records with error make up .005% of total data. Replace 1888 birth year with 1988, and 1900 birth year with 1980 (mean).

In [30]:
# Replace 'birth year' value of 1888 with 1988, and 1900 birth year with 1980.  
df_merged_no_dups = df_merged_no_dups.replace ({"birth year":{1888: 1988, 1900: 1980}})

In [32]:
# Check that changes have been successfully made
df_merged_no_dups[df_merged_no_dups["birth year"]==1888 | 1900]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

#### Observations: Changes have been successfully made.

In [33]:
# Descriptive Statistics for df_merged_no_dups after birth year changes were made
df_merged_no_dups.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,3.798610e+05,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000,379861.000000
mean,1.554135e+03,3304.053222,40.722255,-74.046816,3302.678248,40.721792,-74.046022,40731.378309,1980.031030,0.981061
std,1.770860e+04,184.555125,0.007361,0.011912,190.013195,0.093728,0.170317,6162.534657,11.011137,0.682833
min,6.100000e+01,3184.000000,40.709651,-74.083639,82.000000,0.000000,-74.083639,14531.000000,1920.000000,0.000000
25%,3.220000e+02,3195.000000,40.716870,-74.051789,3195.000000,40.716870,-74.050656,42124.000000,1970.000000,1.000000
50%,6.000000e+02,3209.000000,40.721124,-74.043991,3209.000000,40.721124,-74.043845,42376.000000,1982.000000,1.000000
75%,1.372000e+03,3276.000000,40.727224,-74.038051,3276.000000,40.727224,-74.037683,44228.000000,1989.000000,1.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4282.000000,40.848282,0.000000,55298.000000,2004.000000,2.000000

In [34]:
# Check value counts for 'gender' variable
df_merged_no_dups['gender'].value_counts(dropna = False)

1    202611
0     92222
2     85028
Name: gender, dtype: int64

# Export Data

In [35]:
# Export df_merged_no_dups as trips_merged_cleaned.csv 
df_merged_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'trips_merged_cleaned.csv'), index = False)